<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>Hello <strong><%= companyname %></strong></div>

<br/>
<br/>
<div>This is to Inform you that <strong><%= name %></strong> is now a member of your staff as Approved by you!</div>

<br/>
<br/>
    
</body>
</html>